<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Privacidad</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="12" rowHeight="100px">

  <mat-accordion multi>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="header-panel">Política de Privacidad</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        El presente Política de Privacidad establece los términos en que usa y protege la información que es
        proporcionada
        por
        sus usuarios al momento de utilizar su sitio web. Los desarrolladores estan comprometidos con la seguridad
        de los
        datos de sus
        usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser
        identificado, lo
        hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="header-panel">Información que es recogida</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de contacto como su
        dirección de correo electrónica.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="header-panel">Uso de la información recogida</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        La aplicación hara uso de los datos de nombre y correo electrónico solo para autenticar e identificar al
        usuario dentro de la aplicación, además
        de asociar los registros de operación con su usuario.
      </p>
    </mat-expansion-panel>

  </mat-accordion>

</mat-grid-list>
